/*
footer
*/
footer{
    background:forestgreen;
    color:black;
    text-align: justify;
    padding: 20px;
    margin-top: 0px;
}
a{
    text-decoration:none;
}
/*
Flotamiento
*/
.float-der{ 
float:right;
}
.float-izq{
    float:left;
}

# enlace, imagenes{
    margin:0px;
}
h3 style{
    margin-top: 0px;
    margin-bottom:0px;
}