.imagen{
   
    height:300px;
    border:1px dashed gray;
    align-content:center;
}

.radio-toolbar input[type="radio"] {
  display: none;
}
.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 40px;
  margin-right:8%;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #ff944d;
}
.nave{
    position:relative;
    bottom:43.5px;
    padding-left: 0px;
    padding-right: 0px;
}
#boton{
  align-items: right;
  float:right;
}

.nav a{
     background-color: #333;
    color: chocolate;
    text-decoration: none;
}
.nav li a:hover{
    color: #333;
    background-color: chocolate;
}
#borde{
    border: none;
}



@media screen and (max-width: 768px) {
    .derecha {
        text-align: center;
        
    }
    #boton{
      display: flex;
  align-items: center;
  justify-content: center;
   float:none;
    
    }
   
}

@media screen and (max-width: 500px) {
 #borde li{
        float:none;
        text-align: center;
    }