.menu{
    background-color:#053C5E;
    color:white;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.menu nav{
    padding: 20x;
}
.menu h2{
   font-size: 2em;
    margin: 0;
    background-color: #BFDBF7;
    color: black;
    padding-left: 5px;
}

.menu a{
    color:white;
}
