
    body {
        background-color: #ccffff;
    }

    h3 {
        color: black;
        text-align: center;
    }

    form {
        color: black;
        text-align: center;
    }

    input[type=search] {
        width: 100%;
        width: 50%;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url(img/lupa.png);
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
    }
    .derecha {
        text-align: right;
        margin-left: 530px;
    }
    .registro {
        margin: 0 auto;
    }
    .center_me {
        margin: 0 auto;
        width: 50%;
    }

    .texto-centrado{
        text-align: center;
    }
